/* line 6, ../sass/menu.scss */
#hamburger {
  display: none;
}

/* line 10, ../sass/menu.scss */
.menu {
  display: block;
  left: -260px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
@media only screen and (max-width: 767px) {
  /* line 10, ../sass/menu.scss */
  .menu {
    left: -100%;
  }
}

/* line 29, ../sass/menu.scss */
.menuicon {
  position: fixed;
  top: 28px;
  left: 15px;
  z-index: 20;
  display: block;
  cursor: pointer;
  height: 19px;
  width: 25px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 48, ../sass/menu.scss */
.menuicon span {
  display: block;
  top: 8px;
  width: 25px;
  height: 3px;
  background-color: #ddd;
  position: relative;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 65, ../sass/menu.scss */
.menuicon span::after, .menuicon span::before {
  display: block;
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #ddd;
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0;
  -moz-transition-delay: 0.2s, 0;
  -ms-transition-delay: 0.2s, 0;
  -o-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0;
}
/* line 84, ../sass/menu.scss */
.menuicon span::before {
  margin-top: -8px;
}
/* line 87, ../sass/menu.scss */
.menuicon span::after {
  margin-top: 8px;
}

/* line 93, ../sass/menu.scss */
#hamburger:checked ~ .menu {
  left: 0px;
}

/* line 99, ../sass/menu.scss */
#hamburger:checked ~ .menuicon span {
  background-color: transparent;
}
/* line 101, ../sass/menu.scss */
#hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
  margin-top: 0px;
  -webkit-transition-delay: 0, 0.2s;
  -moz-transition-delay: 0, 0.2s;
  -ms-transition-delay: 0, 0.2s;
  -o-transition-delay: 0, 0.2s;
  transition-delay: 0, 0.2s;
}
/* line 109, ../sass/menu.scss */
#hamburger:checked ~ .menuicon span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 116, ../sass/menu.scss */
#hamburger:checked ~ .menuicon span::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
