/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("dragula.min.css");
@import url("asana.css");
@import url("asana_new_colors.css");
@import url("menu.css");
@import url("flickity.css");
/* line 13, ../sass/screen.scss */
body, p, ul, li, a {
  font-family: 'Montserrat', sans-serif;
}

/* line 16, ../sass/screen.scss */
html {
  width: 100% !important;
}

/* line 19, ../sass/screen.scss */
body {
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  /* line 19, ../sass/screen.scss */
  body {
    width: 100% !important;
  }
  /* line 23, ../sass/screen.scss */
  body .wrapper {
    width: 100% !important;
  }
  /* line 25, ../sass/screen.scss */
  body .wrapper > .container {
    width: 100%;
  }
  /* line 27, ../sass/screen.scss */
  body .wrapper > .container > .row {
    width: calc(100% + 30px);
  }
}

/* line 34, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-weight: 200;
  margin-bottom: 30px;
}

/* line 38, ../sass/screen.scss */
li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 43, ../sass/screen.scss */
div {
  outline: none;
}

/* line 46, ../sass/screen.scss */
a:hover {
  cursor: pointer;
}

/* line 49, ../sass/screen.scss */
#createbutton {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 14;
  font-size: 40px;
}
/* line 56, ../sass/screen.scss */
#createbutton a.btn {
  padding: 0 7px;
  font-size: 38px;
  font-weight: 200;
  line-height: 0.8;
}
/* line 61, ../sass/screen.scss */
#createbutton a.btn span {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

/* line 67, ../sass/screen.scss */
.flickity-page-dots {
  bottom: inherit;
  top: 32px;
  position: fixed;
}

/* line 72, ../sass/screen.scss */
.flickity-prev-next-button {
  position: fixed;
  bottom: 2px;
  top: inherit;
  width: 28px;
  height: 28px;
  background-color: rgba(240, 240, 240, 0.4);
}

/* line 80, ../sass/screen.scss */
.flickity-prev-next-button.next {
  right: 15px;
}

/* line 83, ../sass/screen.scss */
.flickity-prev-next-button.prev {
  left: 15px;
}

/* line 86, ../sass/screen.scss */
#sidebar {
  position: fixed;
  padding: 0 15px 0 50px;
  top: 0;
  bottom: 0;
  width: 260px;
  background-color: #222;
  color: #ddd;
  z-index: 15;
}
@media only screen and (max-width: 767px) {
  /* line 86, ../sass/screen.scss */
  #sidebar {
    width: 100%;
  }
}
/* line 99, ../sass/screen.scss */
#sidebar .workspaces-list .workspace {
  margin-bottom: 10px;
}
/* line 101, ../sass/screen.scss */
#sidebar .workspaces-list .workspace a {
  font-size: 16px;
  color: #ddd;
}
/* line 106, ../sass/screen.scss */
#sidebar .workspaces-list .workspace:hover a {
  color: #fff;
}
/* line 112, ../sass/screen.scss */
#sidebar .show-completed {
  margin-top: 20px;
}
/* line 114, ../sass/screen.scss */
#sidebar .show-completed:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  /* line 120, ../sass/screen.scss */
  .row-tasks {
    margin-top: 50px;
  }
}
/* line 124, ../sass/screen.scss */
.row-tasks .column {
  border-right: 1px dotted #e2e2e2;
  position: relative;
}
@media only screen and (max-width: 767px) {
  /* line 124, ../sass/screen.scss */
  .row-tasks .column {
    width: 100%;
    border-right: none;
  }
}

/* line 134, ../sass/screen.scss */
.list-title {
  background-color: white;
  margin: 0 0 0 -15px;
  padding: 20px 0 20px 15px;
}
@media only screen and (min-width: 992px) {
  /* line 134, ../sass/screen.scss */
  .list-title {
    position: fixed;
    top: 0;
    width: 25%;
    z-index: 10;
  }
}

@keyframes new-item {
  from {
    background-color: #37C597;
  }
  to {
    background-color: white;
  }
}
/* line 152, ../sass/screen.scss */
.todo-list {
  margin-bottom: 127px;
}
@media only screen and (min-width: 768px) {
  /* line 152, ../sass/screen.scss */
  .todo-list {
    min-height: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 152, ../sass/screen.scss */
  .todo-list {
    min-height: calc(100% - 73px);
    margin-top: 73px;
  }
}
/* line 161, ../sass/screen.scss */
.todo-list .new {
  background-color: white;
  animation-name: new-item;
  animation-duration: 2s;
}

/* line 168, ../sass/screen.scss */
.todo-item {
  position: relative;
  margin: 0 -15px 0px;
  padding: 10px 15px 15px;
  border-top: 1px dotted #e2e2e2;
}
/* line 173, ../sass/screen.scss */
.todo-item:first-of-type {
  border-top: none;
}
/* line 176, ../sass/screen.scss */
.todo-item.selected {
  background-color: #eee;
}
/* line 178, ../sass/screen.scss */
.todo-item.selected .icon {
  display: block;
}
/* line 180, ../sass/screen.scss */
.todo-item.selected .icon:hover {
  border-color: #62d26f;
  box-shadow: 0px 0px 5px 1px rgba(98, 210, 111, 0.5);
}
/* line 183, ../sass/screen.scss */
.todo-item.selected .icon:hover svg {
  fill: #62d26f;
}
/* line 188, ../sass/screen.scss */
.todo-item.selected .mobileChange {
  display: block;
  margin-top: 10px;
}
/* line 193, ../sass/screen.scss */
.todo-item .icon {
  display: none;
  position: absolute;
  right: 11px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  background-color: #eee;
}
/* line 205, ../sass/screen.scss */
.todo-item .icon svg {
  fill: #bbb;
}
@media only screen and (min-width: 768px) {
  /* line 209, ../sass/screen.scss */
  .todo-item:hover {
    background-color: #eee;
    cursor: move;
  }
  /* line 213, ../sass/screen.scss */
  .todo-item:hover .icon {
    display: block;
  }
  /* line 215, ../sass/screen.scss */
  .todo-item:hover .icon:hover {
    border-color: #62d26f;
    box-shadow: 0px 0px 5px 1px rgba(98, 210, 111, 0.5);
  }
  /* line 218, ../sass/screen.scss */
  .todo-item:hover .icon:hover svg {
    fill: #62d26f;
  }
}
/* line 227, ../sass/screen.scss */
.todo-item .mobileChange {
  display: none;
}
/* line 231, ../sass/screen.scss */
.todo-item.completed {
  display: none;
  background-color: #d4ffd8;
  opacity: 0.5;
}
/* line 235, ../sass/screen.scss */
.todo-item.completed .icon {
  display: none;
}
/* line 238, ../sass/screen.scss */
.todo-item.completed .name {
  text-decoration: line-through;
}
/* line 242, ../sass/screen.scss */
.todo-item .date {
  color: #aaa;
  display: inline;
  font-size: 11px;
}
/* line 246, ../sass/screen.scss */
.todo-item .date.green {
  color: #37C597;
}
/* line 249, ../sass/screen.scss */
.todo-item .date.red {
  color: #FC636B;
}
/* line 252, ../sass/screen.scss */
.todo-item .date.blue {
  color: #80E6FF;
}
/* line 256, ../sass/screen.scss */
.todo-item .project, .todo-item .workspace {
  padding: 0.1em 0.7em;
  border-radius: 10px;
  font-size: 11px;
}
/* line 260, ../sass/screen.scss */
.todo-item .project:hover, .todo-item .workspace:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}
/* line 266, ../sass/screen.scss */
.todo-item .workspace {
  color: #aaa;
}
/* line 269, ../sass/screen.scss */
.todo-item .default-color {
  background-color: #ddd;
  color: #333;
}
/* line 273, ../sass/screen.scss */
.todo-item .name {
  margin: 0 0 6px;
  font-size: 16px;
  display: table;
  color: #222;
}

/* line 281, ../sass/screen.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  display: block;
  z-index: 13;
}
@media only screen and (max-width: 767px) {
  /* line 281, ../sass/screen.scss */
  footer {
    display: none;
    padding-top: 50px;
    top: 0;
  }
}
/* line 298, ../sass/screen.scss */
footer a {
  display: inline-block;
  font-size: 11px;
  padding: 5px 5px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ccc;
}
/* line 305, ../sass/screen.scss */
footer a:hover {
  color: #FC636B;
}
/* line 309, ../sass/screen.scss */
footer .new-task-form {
  text-align: left;
  padding: 20px 0;
}
/* line 310, ../sass/screen.scss */
footer .new-task-form label {
  display: block;
  color: #bbb;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media only screen and (max-width: 767px) {
  /* line 310, ../sass/screen.scss */
  footer .new-task-form label {
    margin-top: 12px;
    margin-bottom: 6px;
  }
}
/* line 324, ../sass/screen.scss */
footer .new-task-form input {
  display: block;
  width: 100%;
  height: 34px;
}
/* line 329, ../sass/screen.scss */
footer .new-task-form #assignee-sel.grey {
  color: #bbb;
}
/* line 332, ../sass/screen.scss */
footer .new-task-form #assignee-sel {
  width: 60%;
  display: inline-block;
}

/* line 341, ../sass/screen.scss */
.btn.new-task {
  width: 100px;
}
@media only screen and (max-width: 767px) {
  /* line 341, ../sass/screen.scss */
  .btn.new-task {
    position: relative;
    top: -1px;
    width: 35%;
  }
}

/* line 350, ../sass/screen.scss */
.loader {
  display: inline-block;
}

/* line 355, ../sass/screen.scss */
.spinner {
  margin: 0;
  width: 100px;
  text-align: center;
}

/* line 361, ../sass/screen.scss */
.spinner > div {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

/* line 372, ../sass/screen.scss */
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

/* line 377, ../sass/screen.scss */
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
